<div class="contain">

		<div class="card" style="width: 18rem;">
		  <img class="card-img-top" src="http://ppcdn.500px.org/21763493/3ac83dee3123c562616cd6a7d25b407ea21d9dd7/4.jpg" alt="Card image cap">
		  <div class="card-body">
		    <h5 class="card-title">Card title</h5>
		    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
		    <a href="#" class="btn btn-primary btnshadow">Go somewhere</a>
		  </div>
		</div>

			<div class="card" style="width: 18rem;">
		  <img class="card-img-top" src="http://ppcdn.500px.org/21763493/3ac83dee3123c562616cd6a7d25b407ea21d9dd7/4.jpg" alt="Card image cap">
		  <div class="card-body">
		    <h5 class="card-title">Card title</h5>
		    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
		    <a href="#" class="btn btn-primary btnshadow">Go somewhere</a>
		  </div>
		</div>

			<div class="card" style="width: 18rem;">
		  <img class="card-img-top" src="http://ppcdn.500px.org/21763493/3ac83dee3123c562616cd6a7d25b407ea21d9dd7/4.jpg" alt="Card image cap">
		  <div class="card-body">
		    <h5 class="card-title">Card title</h5>
		    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
		    <a href="#" class="btn btn-primary btnshadow">Go somewhere</a>
		  </div>
		</div>

			<div class="card" style="width: 18rem;">
		  <img class="card-img-top" src="http://ppcdn.500px.org/21763493/3ac83dee3123c562616cd6a7d25b407ea21d9dd7/4.jpg" alt="Card image cap">
		  <div class="card-body">
		    <h5 class="card-title">Card title</h5>
		    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
		    <a href="#" class="btn btn-primary btnshadow">Go somewhere</a>
		  </div>
		</div>

			<div class="card" style="width: 18rem;">
		  <img class="card-img-top" src="http://ppcdn.500px.org/21763493/3ac83dee3123c562616cd6a7d25b407ea21d9dd7/4.jpg" alt="Card image cap">
		  <div class="card-body">
		    <h5 class="card-title">Card title</h5>
		    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
		    <a href="#" class="btn btn-primary btnshadow">Go somewhere</a>
		  </div>
	</div>
</div>

<div class="page_number">
  <ul class="pagination col-md-2 col-md-offset-5">
    <li class="page-item disabled">
      <a class="page-link" href="#">&laquo;</a>
    </li>
    <li class="page-item active">
      <a class="page-link" href="#">1</a>
    </li>
    <li class="page-item">
      <a class="page-link" href="#">2</a>
    </li>
    <li class="page-item">
      <a class="page-link" href="#">3</a>
    </li>
    <li class="page-item">
      <a class="page-link" href="#">4</a>
    </li>
    <li class="page-item">
      <a class="page-link" href="#">5</a>
    </li>
    <li class="page-item">
      <a class="page-link" href="#">&raquo;</a>
    </li>
  </ul>
</div>