<footer class="footer justify-content-center py-3">
    <div class="container">
        <span class="text-muted">Made
                with some <i class="fa far fa-heart"></i></span>
        <div class="debug mb-3">
            <code>
                <%= debug(params) if Rails.env.development? %></code><br /><br />
        </div>
    </div>
</footer>
<div class="container">
</div>