
<!-- Footer -->
<footer class="page-footer font-small blue pt-4">

    <!-- Footer Links -->
    <div class="container-fluid text-center text-md-left">

      <!-- Grid row -->
      <div class="row">

        <!-- Grid column -->
        <div class="col-md-8 mt-md-0 mt-3">

          <!-- Content -->
          <h6 class="text-uppercase">Qui sommes-nous ?</h6>
          <p>Nous sommes des passionnés de chats et nous voulons partager l'amour que nous avons pour ces boules de poils avec le plus grand nombre.
          C'est pourquoi nous parcourons le monde pour vous proposer les meilleures photos de chat du monde entier ! </p>
        </div>
        <!-- Grid column -->

        <hr class="clearfix w-100 d-md-none pb-3">

          <!-- Grid column -->
          <div class="col-md-4 mb-md-0 mb-3 socialmedia">
            
                <!-- Links -->
                <h6 class="text-uppercase">Contactez-nous !</h6>
               
              <div class="footer-content">
                <a href="#" class="fa fa-facebook"></a>
                <a href="#" class="fa fa-instagram"></a>
                <a href="#" class="fa fa-envelope"></a>
                <a href="#" class="fa fa-twitter"></a>
                
              </div>
              </div>
              <!-- Grid column -->

      </div>
      <!-- Grid row -->

    </div>
    <!-- Footer Links -->

    <!-- Copyright -->

    <div class="footer-copyright text-center py-3">© 2018 Copyright: The cat store company !
      <%= link_to "Accès admin", admin_root_path %>

    </div>
    <!-- Copyright -->

  </footer>
  <!-- Footer -->