<% Order.where(user_id: current_user.id).each do |order| %> 
  <% if order.items != nil %> 
    <div class="command-card">
        <div class="cart-head"> La Commande <%= order.id %></div>
      <% order.items.each do |item| %>
        <a class="card-product"><%= item.title %></a>
      <% end %>
    <div class="card-end"><%= order.created_at %>
      </div>
    </div>
  <% end %>
<% end %>