html, body {
    height: 96%;
    margin: 0;
}


.btn-primary {
  box-shadow: none;
}

.btn-primary:hover {
  box-shadow: none;
}

body {
  -webkit-font-smoothing: antialiased;
  line-height: 1.3;
}

.nav-link-hover {
  color: white;
	transition: 0.3s cubic-bezier(0.2, 0.8,0.2,1);
}

.nav-link-hover:hover {
	transform: translateY(-3px);
	transition: 0.5s cubic-bezier(0.2, 0.8,0.2,1);
}

.card {
  margin: 5% 2% 2% 2%;
}

.contain {
  padding: 0% 10% 0% 10%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  justify-items: center;
}

.page_number{
  padding: 5% 0% 0% 0%;
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
}

.btnshadow:hover {
  box-shadow: 0 10px 20px rgba(0,0,0, 0.20);
  transition: 0.5s;
}

.container-show {
  display: grid;
  padding: 3%;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1%;
  min-height: 100%;
}

.grille-2-show {
  align-self: center;
  padding: 7%;
  border: 1px solid rgba(0,0,0, 0.50);
  border-radius: 15px;
}

.price-show {
  margin: 1% 0% 2% 0%;
}

.grille-1-show {
  align-self: center;
}

.grille-1-show img{
  background-size: cover;
  background-position: center;
}

.grille-1-show img:hover{
  transform: translateY(-10px);
  transition: 1s cubic-bezier(0.2, 0.8,0.2,1);
  box-shadow: 0 10px 20px rgba(0,0,0, 0.20);
}

.btn-buy-product:focus{
  outline:0;
}

.btn-buy-product a {
  text-decoration: none;
  color: #FFFFFF;
  outline:0;
}

.btn-buy-product a:hover {
  text-decoration: none;
  color: #FFFFFF;
  outline:0;
}

.btn-buy-product {
  background: #167FFB;
  text-decoration: none;
  width: 200px;
  height: 50px;
  outline:0;
  border: none;
  border-radius: 30px;
  transition: 0.5s cubic-bezier(0.2, 0.8,0.2,1);
}

.btn-buy-product:hover {
  text-decoration: none;
  background: #66adff;
  color: white;
  transition: 0.1s;
  outline:0;
  transform: translateY(-2px);
  transition: 0.3s cubic-bezier(0.2, 0.8,0.2,1);
}

.card-title-index a{
  text-decoration: none;
  font-size: 30px;
  color: black;
}

.price-product {
  font-size: 30px;
}

.title-product {
  font-size: 50px;
}

#bold-text-span {
  font-weight: bold;
}

.list-group-item:hover{
  text-decoration: none;
  transform: translateY(-2px);
  transition: 0.3s cubic-bezier(0.2, 0.8,0.2,1);
}


.table>tbody>tr>td, .table>tfoot>tr>td{
    vertical-align: middle;
}
@media screen and (max-width: 600px) {
    table#cart tbody td .form-control{
    width:20%;
    display: inline !important;
  }
  .actions .btn{
    width:36%;
    margin:1.5em 0;
  }
  
  .actions .btn-info{
    float:left;
  }
  .actions .btn-danger{
    float:right;
  }
  
  table#cart thead { display: none; }
  table#cart tbody td { display: block; padding: .6rem; min-width:320px;}
  table#cart tbody tr td:first-child { background: #333; color: #fff; }
  table#cart tbody td:before {
    content: attr(data-th); font-weight: bold;
    display: inline-block; width: 8rem;
  }
    
  table#cart tfoot td{display:block; }
  table#cart tfoot td .btn{display:block;}
}

  footer {
  background-color: #151512;
  padding-top: 100px;
  }

  footer H5 {
  color : #FFFFFF;
  padding-bottom: 10px;
  text-align: center;
  }

  footer p {
  color : #FFFFFF;
  padding-top : 10px;
}

footer .socialmedia {

}

.footer-content {
  display:block;
  text-align: center;
  padding-top: -20px;
 }

 .fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
}

.fa:hover {
  opacity: 0.7;
  text-decoration: none;
}

.profil-titre {
  font-size: 25px;
}

.main_show_user {
  padding: 3% 20% 0% 20%;
  display: grid;
  background: #F5F7FA;
}

.profil-historique {
  font-size: 40px;
  margin: 0;
}

.show_user_head {
  width: 500px;
  height: 200px;
  background: grey;
  text-align: center;
  padding: 3% 3% 3% 3%;
  justify-self: center;
  box-shadow: 0 0 1.5rem 0 rgba(0,0,0,.05);
  background-color: white;
  border-radius: .625rem;
}


.command-card {
  width: 700px;
  height: 200px;
  background: grey;
  text-align: center;
  padding: 3% 6% 3% 6%;
  margin: 3%;
  justify-self: center;
  box-shadow: 0 0 1.5rem 0 rgba(0,0,0,.05);
  background-color: white;
  border-radius: .625rem;
  position: relative
}

.product-detail {
  width: 500px;
  height: 330px;
  padding: 20px 60px 20px 60px;
  background: grey;
  text-align: left;
  justify-self: left;
  box-shadow: 0 0 1.5rem 0 rgba(0,0,0,.05);
  background-color: white;
  border-radius: .625rem;
}


.command-card:hover {
  transform: translateY(-5px);
  transition: 0.5s cubic-bezier(0.2, 0.8,0.2,1);
}

.cart-head {
  font-size: 30px;
  margin-bottom: 3%;
}

.card-end{
  position: absolute;
  bottom: 20px;
  left: 37%;
  color: grey;
}

.bg-grey{
  background: #F5F7FA;
}

.margin-b {
  margin-bottom: 60px;
}

.main-show-item {
  display: grid;
  padding: 0% 12% 0% 12%;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
}

.img-show-cart {
  margin-top: 15px;
}

.radius-b {
  border-radius: .625rem;
}


.head-header {
  background: url('https://www.pixelstalk.net/wp-content/uploads/images2/Black-Cat-wallpapers.jpg');
  height: 700px;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.header-index {
  margin: 0 auto;
  max-width: 750px;
  padding: 150px 50px;
  text-align: center;
}

.header-index p{
  color: rgb(255,255,255);
  font-size: 40px;
  line-height: 1.5;
  font-weight: bold;
}

.em-kissing_cat {
  font-size: 25px;
}

.btn-header-yeah:focus{
  outline:0;
}

.btn-header-yeah a {
  text-decoration: none;
  color: #FFFFFF;
  outline:0;
}

.btn-header-yeah a:hover {
  text-decoration: none;
  color: #FFFFFF;
  outline:0;
}

.btn-header-yeah {
  background: #FFFFFF;
  text-decoration: none;
  width: 300px;
  height: 50px;
  outline:0;
  border: none;
  border-radius: 30px;
  transition: 0.5s cubic-bezier(0.2, 0.8,0.2,1);
}

.btn-header-yeah:hover {
  text-decoration: none;
  background: grey;
  color: black;
  color: white;
  transition: 0.1s;
  outline:0;
  transform: translateY(-5px);
  transition: 0.3s cubic-bezier(0.2, 0.8,0.2,1);
}