html, body {
    height: 96%;
    margin: 0;
}

body {
  -webkit-font-smoothing: antialiased;
  line-height: 1.3;
}

.nav-link-hover {
  color: white;
	transition: 0.3s cubic-bezier(0.2, 0.8,0.2,1);
}

.nav-link-hover:hover {
	transform: translateY(-3px);
	transition: 0.5s cubic-bezier(0.2, 0.8,0.2,1);
}

.card {
  margin: 5% 2% 2% 2%;
}

.contain {
  padding: 0% 10% 0% 10%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  justify-items: center;
}

.page_number{
  padding: 5% 0% 0% 0%;
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
}

.btnshadow:hover {
  box-shadow: 0 10px 20px rgba(0,0,0, 0.20);
  transition: 0.5s;
}

.container-show {
  display: grid;
  padding: 3%;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1%;
  min-height: 100%;
}

.grille-2-show {
  align-self: center;
  padding: 7%;
  border: 1px solid rgba(0,0,0, 0.50);
  border-radius: 15px;
}

.price-show {
  margin: 1% 0% 2% 0%;
}

.grille-1-show {
  align-self: center;
}

.grille-1-show img{
  background-size: cover;
  background-position: center;
}

.grille-1-show img:hover{
  transform: translateY(-10px);
  transition: 1s cubic-bezier(0.2, 0.8,0.2,1);
  box-shadow: 0 10px 20px rgba(0,0,0, 0.20);
}

.btn-buy-product:focus{
  outline:0;
}

.btn-buy-product a {
  text-decoration: none;
  color: #FFFFFF;
  outline:0;
}

.btn-buy-product a:hover {
  text-decoration: none;
  color: #FFFFFF;
  outline:0;
}

.btn-buy-product {
  background: #167FFB;
  text-decoration: none;
  width: 150px;
  height: 50px;
  outline:0;
  border: none;
  border-radius: 30px;
  transition: 0.5s cubic-bezier(0.2, 0.8,0.2,1);
}

.btn-buy-product:hover {
  text-decoration: none;
  background: #66adff;
  color: white;
  transition: 0.1s;
  outline:0;
  transform: translateY(-2px);
  transition: 0.3s cubic-bezier(0.2, 0.8,0.2,1);
}

.card-title-index a{
  text-decoration: none;
  font-size: 30px;
  color: black;
}

.price-product {
  font-size: 30px;
}

.title-product {
  font-size: 50px;
}

#bold-text-span {
  font-weight: bold;
}

.list-group-item:hover{
  text-decoration: none;
  transform: translateY(-2px);
  transition: 0.3s cubic-bezier(0.2, 0.8,0.2,1);
}


.table>tbody>tr>td, .table>tfoot>tr>td{
    vertical-align: middle;
}
@media screen and (max-width: 600px) {
    table#cart tbody td .form-control{
    width:20%;
    display: inline !important;
  }
  .actions .btn{
    width:36%;
    margin:1.5em 0;
  }
  
  .actions .btn-info{
    float:left;
  }
  .actions .btn-danger{
    float:right;
  }
  
  table#cart thead { display: none; }
  table#cart tbody td { display: block; padding: .6rem; min-width:320px;}
  table#cart tbody tr td:first-child { background: #333; color: #fff; }
  table#cart tbody td:before {
    content: attr(data-th); font-weight: bold;
    display: inline-block; width: 8rem;
  }
    
  table#cart tfoot td{display:block; }
  table#cart tfoot td .btn{display:block;}
}

  footer {
  background-color: #151512;
  padding-top: 100px;
  }

  footer H5 {
  color : #FFFFFF;
  padding-bottom: 10px;
  text-align: center;
  }

  footer p {
  color : #FFFFFF;
  padding-top : 10px;
}

footer .socialmedia {

}

.footer-content {
  display:block;
  text-align: center;
  padding-top: -20px;
 }

 .fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
}

.fa:hover {
  opacity: 0.7;
  text-decoration: none;
}
